# OS
.DS_Store

# node.js & npm
node_modules
.nyc_output
npm-debug.log

# Editor files
/.project
/.settings
/.idea
/.vscode

# coverage
coverage
package-lock.json

.yarn/*
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
